<div class="nested-fields">
  <span>Pokemon</span><br>
  <%= f.text_field :sprite %>
  <%= f.text_field :name %>
  <%= f.text_field :kind %>
  <%# <%= f.text_field :kind_2 %>
  <%= link_to_remove_association('Remover', f) %><br><br>
</div>